@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&family=Itim&family=Poppins:wght@300;400;500;600&display=swap');

*{
  padding: 0;
  margin: 0;
  border: 0;
  outline: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
:root{
  --color-background:green;
  --primary-text-color:white;
  --secondary-text-color:rgb(7, 255, 7);
  --ternary-text-color:orange;
  --font-size:2rem;
}
html{
  scroll-behavior: smooth;
}
::-webkit-scrollbar{
  display: none;
}